
h1 {color:darkblue;font-size: 48px; text-align: center;border-style: solid;}
h2 {color:darkslategray; font-size: 24px;border-style: ridge;}
h3 {
    color-scheme: #006666; font-size: 18px;
     font-style: italic;
    }
p {
    margin: 25px, 50px, 75px;
    padding: 25px, 50px, 75px;
    color: black;
    text-align: left;
    font-family: Helvetica, Ariel, sans-serif;
    font-size: 14px;
}

#metroraces {
    background-color: #006666;
    color: white;
}